html,
body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  min-height: 100vh;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.hero {
  padding: 20px 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header-logo {
  font-size: 24px;
  color: #f9Faf8;
}

.header-links {
  font-size: 18px;
  color: #E5e7eb;
  display: flex;
  align-items: center;
  gap: 8px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.content .left {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

/* remove original padding  */
.content .left>* {
  margin: 0;
  padding: 0;
}

.content .main {
  font-size: 48px;
  font-weight: 900;
  color: #F9Faf8;
}

.content p {
  font-size: 18px;
  color: #E5e7eb;
}

.content .left button {
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #3882f6;
  font-size: 18px;
  color: #E5e7eb;
  padding: 8px 16px;
  border: none;

}

.hero,
.footer {
  background-color: #1F2937;
}

.footer {
  margin-top: auto;
  font-size: 18px;
  color: #E5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
