html,
body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  min-height: 100vh;
  box-sizing: border-box;
  gap: 32px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.hero {
  padding: 20px 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header-logo {
  font-size: 24px;
  color: #f9Faf8;
}

.header-links {
  font-size: 18px;
  color: #E5e7eb;
  display: flex;
  align-items: center;
  gap: 8px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.content .left {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

/* remove original padding  */
.content .left>* {
  margin: 0;
  padding: 0;
}

.content .main {
  font-size: 48px;
  font-weight: 900;
  color: #F9Faf8;
}

.content p {
  font-size: 18px;
  color: #E5e7eb;
}

.content .left button {
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #3882f6;
  font-size: 18px;
  color: #E5e7eb;
  padding: 8px 16px;
  border: none;

}

.hero,
.footer {
  background-color: #1F2937;
}

/* info */

.info-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-image {
  border-radius: 8px;
  border: 2px solid #3882f6;
  width: 72px;
  height: 72px;
}

.box p {
  max-width: 140px
}

/* quote */
.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
}

.quote-container {
  display: flex;
  flex-direction: column;
}

.quote-text {
  max-width: 600px;
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
}

.author {
  font-weight: bolder;
  align-self: flex-end;
}

/* call to action */

.action {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  color: white;
  background-color: #3882f6;
  padding: 10px 64px;
  border-radius: 25px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.container .right button {
  color: white;
  font-weight: bold;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 4px 20px;
  box-shadow: none;
  border: 2px solid white;
}

/***********************************/


.footer {
  margin-top: auto;
  font-size: 18px;
  color: #E5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
}
